.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -32px;
  font-family: "Noto Sans KR";
  margin-bottom: 60px;
}

.main--form {
  position: sticky;
  top: 12px;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border: 1px solid #c1c5c5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 16px;
}

.main--form > .button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.main--form > .button.close {
  border: 1px solid var(--color-error);
  background-color: var(--color-error);
}

.main--form > .button.close .icon path {
  stroke: var(--white);
}

.main--form > .button.success .icon path {
  stroke: var(--white);
}

.main--form__item {
  flex: 1;
  min-height: 55px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
  position: relative;
  user-select: none;
}

.main--form__item:not(:last-of-type) {
  border-right: 1px solid #c1c5c5;
}

.form__item__title {
  font-size: 14px;
  color: var(--primary3);
}

.form__item__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-200);
  cursor: pointer;
}

.form__item__select.selected {
  color: var(--black);
}

.item--section__direction {
  width: 20px;
  cursor: pointer;
  font-size: 24px;
  text-align: center;
}

.main--form__item .icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.form__item__select:hover svg > path {
  stroke: #000;
}

.form__item--section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  text-overflow: ellipsis;
}

.form__item__input {
  border: 0;
  max-width: 130px;
}

input {
  background-color: var(--white);
}

.form__item__input[name="amount"] {
  text-align: right;
}

.form__item__date {
  cursor: pointer;
}

input[type="date"] {
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.main--form__item > .ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid #ccd3d3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  z-index: 11;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.main--form__item > .ul.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.ul > .ul--li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  cursor: pointer;
}

.ul > .ul--li:first-child {
  border-radius: 10px 10px 0px 0px;
}

.ul > .ul--li:last-child {
  border-radius: 0px 0px 10px 10px;
}

.ul > .ul--li:hover {
  background-color: var(--gray-500);
}

.ul > .ul--li:not(:last-child) .ul--li__desc {
  border-bottom: 1px solid #ccd3d3;
}

.ul > .ul--li svg {
  width: 16px;
  height: 16px;
}

.ul--li__desc {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.ul--li__desc > p {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ul > .ul--li .icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul > .ul--li .icon:hover > svg path {
  stroke: var(--black);
}
